.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay);
  padding: var(--gap-base);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.modal {
  width: 100%;
  max-width: 500px;
  background: var(--bg-surface);
  border-radius: var(--content-radius);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
