// COLORS
$color-light-blue: #7695ec;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #999999;
$color-light-gray: #dddddd;
$color-dark-gray: #777777;

// SPACING
$space-sm: 10px;
$space-md: 12px;
$space-lg: 24px;

// RADIUS
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

// TYPOGRAPHY
$font-family-roboto: "Roboto", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-50: 14px;
$font-size-100: 16px;
$font-size-200: 18px;
$font-size-300: 20px;
$font-size-400: 22px;
