.button {
  background-color: var(--action-primary);
  color: var(--text-inverted);
  font-weight: var(--action-text-weight);
  font-size: var(--text-button);
  border-radius: var(--action-radius);

  border: none;
  cursor: pointer;

  width: fit-content;
  min-width: 120px;
  padding-block: 0.4rem;
  padding-inline: 1rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.1s ease;

  &:hover:not(:disabled) {
    background-color: var(--action-primary-hover);
  }

  &:disabled {
    filter: brightness(0.8);
    cursor: not-allowed;
    opacity: 1;
  }

  &.danger {
    background-color: var(--action-danger);
    &:hover:not(:disabled) {
      background-color: var(--action-danger-hover);
    }
  }
  &.default {
    background-color: var(--bg-surface);
    color: var(--text-primary);
    border: var(--border-style) var(--border-color);
    &:hover:not(:disabled) {
      background-color: var(--action-default-hover);
    }
  }
}
