.spinner {
  width: 15px;
  height: 15px;
  border: 3px solid var(--text-on-brand);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
